<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="content">
        <form action="/mail/signin/" method="post">
            {% csrf_token %}
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname" placeholder="first name"><br><br>

            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname" placeholder="last name"><br><br>

            <label for="user">user:</label>
            <input type="text" id="user" name="user" placeholder="user"><br><br>

            <label for="email">email:</label>
            <input type="text" id="email" name="email" placeholder="email"><br><br>

            <label for="pass">password:</label>
            <input type="text" id="pass" name="pass" placeholder="password"><br><br>

            <button type="submit">sign in</button>
            <button type="submit"><a href="/mail/home/">home page</a></button>
            <button type="submit"><a href="/mail/login/">login</a></button>
        </form>
    </div>
</body>
</html>