<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="content">
        <form action="/signin/" method="post">
            {% csrf_token %}
            <label for="user">user:</label>
            <input type="text" id="user" name="user" placeholder="user"><br><br>

            <label for="pass">password:</label>
            <input type="text" id="pass" name="pass" placeholder="password"><br><br>
        </form>
    </div>
</body>
</html>